    {% extends "layout.html" %}

    {% block body %} 
        <!-- Page Header-->


        <header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/home-bg.jpg') }}   ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params["blog_name"]}}</h1>
                            <span class="subheading">{{params["tag_line"]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <!--TODO: Fetch is using for loop from database--> 

                    {% for post in posts %} <!-- posts is variable we will pass value in python-->
        

                    <!-- Post preview-->
                     <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">
                            {{ post.title }}
                       </h2>
                            <h3 class="post-subtitle">{{post.tagline}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            {{post.date}}
                        </p>
                    </div>
                     {{post.content[0:43]}}
                    <!-- Divider-->
                    <hr class="my-4" />
        </li></a>
                     
                     {% endfor %}
                    <!-- Pager-->
                     <div class="clearfix m-5">
          
            
            <a class="btn btn-primary float-left"  href="{{prev}}"> &larr;Previous</a>
            <a class="btn btn-primary float-right"  href="{{next}}">Next &rarr;</a>
          </div>
                </div>
            </div>
        </div>
      {% endblock %}
