 {% extends "layout.html" %}


    {% block body %} 


  
     <div class="container"  style="padding: 150px; 
      padding-left: 350px;
      padding-right: 450px;">


      <div class="container" style="padding-left: 150px; "  ><h1 style="padding-left: 39px;"> Admin login</h1>

        <div class="container square-box d-flex justify-content-center align-items-center" >
       {% set fname = 'assets/img/'+  params['login_image']  %}
      <img class="mb-4" src="{{url_for('static', filename=fname)}}" alt="" width="72" height="72">  <!-- image from static-->
      </div>

         
    <form class="form-signin" action="/dashboard" method="post">
  <!-- Email input -->

  <div class="form-outline mb-4">
    <input type="text" id="uname" name= "uname" class="form-control" />
    <label class="form-label" for="uname">User name</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="pass"  name="pass"  class="form-control" />
    <label class="form-label" for="pass">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  


  <!-- Register buttons -->
  <div class="text-center padded">
    <p>Not a member? <a href="#!">Register</a></p>
    <p>or sign up with:</p>
    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div>
</form>
  </div>
</div>
     {% endblock %}